## DONT USE QUOTES AROUND YOUR TOKEN OR URLS, IT WILL BREAK THINGS. ALSO DONT PUT A TRAILING SLASH ON THE URLS.

# upstream app api url for sync/invoke
ORCA_APP_URL=http://localhost:5173/api/orca

# DB connection string used by API/workers.
DATABASE_URL=postgresql://postgres:postgres@localhost:1015/app

# Bearer token required by API auth middleware (/auth/* routes).
ORCA_TOKEN=somesecret

#Not used at the moment, but want to use this to verify that the web server can reach the app server and also give the api a way to verify that requests are coming from the web app.
ORCA_WEB_URL=http://localhost:5174
