# api base url for the orca backend
ORCA_API_BASE_URL=http://localhost:3000
# bearer token for backend auth routes must be the same as ORCA_TOKEN in the API and ORCA_TOKEN in the web server.
# Eventually want to make this more secure by having the web server generate a short lived token for the api to verify instead of using the same token for both, but for now this is simpler to set up and test.
ORCA_API_TOKEN=somesecret
